<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SQL</title>
    <style>
        .delete {
            color: red;
            font-weight: bold;
            text-decoration: none;
        }
        .update {
            color: green;
            text-decoration: none;
        }
    </style>
</head>
<body>
    <ul>
        <% for(let p of paintings) { %>
            <li>
                <a href="/paintings/<%= p.id %> "><%= p.title %></a>
                <a class="delete" href="/paintings/delete/<%= p.id %>">Delete</a>
                <a class="update" href="/paintings/edit/<%= p.id %>">Edit</a>
            </li>
        <% } %>
    </ul>
    <a href="/paintings/new">Új hozzáadás</a>
</body>
</html>