<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post">
        <p>
            title: <input type="text" name="title" id="" value="<%= painting.title %>">
        </p>
        <p>
            year: <input type="number" name="year" id="" value="<%= painting.year %>">
        </p>
        <p>
            on display: <input type="checkbox" name="on_display" value="1" id="" 
            <% if (painting.on_display == 1) { %>
             checked
            <% } %>
            >
        </p>
        <p>
            <input type="submit" value="Update">
        </p>
    </form>
</body>
</html>